header {
     background-color:  rgba(0, 0, 0, 0.9);
     color: white;
     border-bottom: white solid 1px;

}

.logo {
    display: block;
    height: 50px;
    width: 200px;
    background: url("/img/svg/logo.svg") no-repeat;
    background-size: 100% 100%;
}

a {color: white;}
a:hover {color: red;}


.modal-content,
.card {
    background-color:  rgba(0, 0, 0, 0.9);
    color: white;
}

.table {
    color: white;
}

.modal-content {
    .close {
        color: white;
    }
}

.avatars {
    transform: translate(0%, 0%);
    -webkit-backface-visibility: hidden;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    overflow: hidden;
    img {
        max-width: none;
        min-width: 100%;
        min-height: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.popover {
    border: solid 1px white;
    background-color: black;

    .popover_avatar {
        min-height: 70px;
        min-width: 50px;
    }
    .question_user {
        height: 60px;
        width: 60px;
    }

}

.popover-body {
    color: #ffffff;
    font-size: 0.8rem;

}

.bs-popover-top > .arrow::after, .bs-popover-auto[x-placement^=top] > .arrow::after {
    bottom: 1px;
    border-width: 0.5rem 0.5rem 0;
    border-top-color: #000000;
}

.bs-popover-top > .arrow::before, .bs-popover-auto[x-placement^=top] > .arrow::before {
    bottom: 0;
    border-width: 0.5rem 0.5rem 0;
    border-top-color: rgb(255, 255, 255);
}



