


header {
 background-color:  rgba(0, 0, 0, 0.9);
 color: white;
 border-bottom: white solid 1px;
}

a {color: white;}
a:hover {color: red;}

.card {
    background-color:  rgba(0, 0, 0, 0.9);
    color: white;
}
