header {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  border-bottom: white solid 1px;
}

.logo {
  display: block;
  height: 50px;
  width: 200px;
  background: url("/img/svg/logo.svg") no-repeat;
  background-size: 100% 100%;
}

a {
  color: white;
}

a:hover {
  color: red;
  text-decoration: none;
}

.modal-content,
.card {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
}

.table {
  color: white;
}

.modal-content .close {
  color: white;
}

.avatars {
  transform: translate(0%, 0%);
  -webkit-backface-visibility: hidden;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  overflow: hidden;
}

.avatars img {
  max-width: none;
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popover {
  border: solid 1px white;
  background-color: black;
}

.popover .popover_avatar {
  min-height: 70px;
  min-width: 50px;
}

.popover .question_user {
  height: 60px;
  width: 60px;
}

.popover-body {
  color: #ffffff;
  font-size: 0.8rem;
}

.bs-popover-top > .arrow::after,
.bs-popover-auto[x-placement^=top] > .arrow::after {
  bottom: 1px;
  border-width: 0.5rem 0.5rem 0;
  border-top-color: #000000;
}

.bs-popover-top > .arrow::before,
.bs-popover-auto[x-placement^=top] > .arrow::before {
  bottom: 0;
  border-width: 0.5rem 0.5rem 0;
  border-top-color: white;
}

.profile .profile_avatar {
  min-height: 400px;
}

.profile .gifts {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 5px;
  font-size: 0.8rem;
}

.profile .gifts label {
  display: block;
  position: relative;
  cursor: pointer;
}

.profile .gifts label img {
  max-width: 100%;
}

.profile .gifts label .price {
  display: none;
  padding: 1px;
  position: absolute;
  right: 0;
  top: 0;
  background-color: red;
  border-radius: 0 0 0 50%;
}

.profile .gifts input:checked + label {
  border: 1px solid red;
}

.profile .gifts input:checked + label .price {
  display: block;
}

.profile .gifts input:disabled + label {
  cursor: default;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-filter: gray;
          filter: gray;
}

.profile .gifts_given {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
}

.profile .gifts_given .gift_given {
  cursor: pointer;
}

.profile .gifts_given .gift_given img {
  max-width: 100%;
}

.profiles_search .avatars {
  max-width: 100px;
  min-width: 100px;
  height: 150px;
  border: white 1px solid;
}

.messenger_contact .avatars {
  max-width: 130px;
  min-width: 130px;
  height: 170px;
  border: white 1px solid;
}

.messenger_contact .view {
  width: 20px;
  height: 20px;
  margin-left: 20px;
}

.messenger_contact .message_is_viewed {
  background: url("/img/svg/check2.svg") no-repeat;
  background-size: 100% 100%;
}

.messenger_contact .message_is_not_viewed {
  background: url("/img/svg/check1.svg") no-repeat;
  background-size: 100% 100%;
}

.messenger_contact .add_photo {
  width: 40px;
  height: 40px;
}

.messenger_contact .add_photo svg {
  fill: white;
  max-height: 100%;
  max-width: 100%;
}

.messenger_contact .add_photo:hover svg {
  fill: #6c757d;
}

.messenger_contact .attach_photo {
  width: 50px;
  height: 50px;
}

.messenger_contact .attach_photo img {
  max-width: 100%;
  min-width: 100%;
  max-height: 100%;
  min-height: 100%;
}

.messenger_contact .photos_in_message img {
  max-width: 100%;
  min-width: 100%;
  height: auto;
}

.contacts_list .avatars {
  max-width: 100px;
  min-width: 100px;
  height: 130px;
  border: white 1px solid;
}

.contacts_list .disabled {
  text-decoration: none;
  cursor: default;
}

.contacts_list .no_contacts {
  margin-bottom: 40px;
  margin-top: 40px;
  height: 40vh;
  width: 100%;
  background: url("/img/svg/messeger_girl.svg") no-repeat;
  background-size: 100% 100%;
}

.messenger_photos img {
  max-width: 100%;
  min-width: 100%;
  height: auto;
}

.messenger_photos input[type=checkbox] {
  display: none;
  position: absolute;
}

.messenger_photos input:checked + label .card {
  background-color: rgba(255, 0, 0, 0.5);
}

.messenger_photos label {
  cursor: pointer;
}

.messenger_photos .no_photos {
  max-width: 100%;
  height: 50vh;
  background: url("/img/svg/Sexy-Silhouette.svg") no-repeat;
  background-size: 100% 100%;
}

.messenger_photos .card {
  position: relative;
}

.messenger_photos .delete_photo_messenger {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  fill: red;
  width: 40px;
  height: 40px;
}

.messenger_photos .delete_photo_messenger:hover {
  fill: #7b0000;
}

.messenger_notice .pic {
  max-width: 100%;
  height: 70vh;
  background: url("/img/svg/notice_messenger.svg") no-repeat;
  background-size: 100% 100%;
}

.photos_index img {
  max-width: 100%;
  min-width: 100%;
  height: auto;
}

.photos_show .photo {
  max-width: 100%;
  max-height: 70vh;
}

.photos_show #like {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.photos_show .no_like {
  fill: white;
}

.photos_show .no_like:hover {
  fill: #d1d1d1;
}

.photos_show .is_like {
  fill: red;
}

.photos_show .is_like:hover {
  fill: #aa0000;
}

.photos_show .avatars {
  max-width: 100px;
  min-width: 100px;
  height: 130px;
  border: white 1px solid;
}

.photos_show .comment {
  min-height: 60%;
}

.photos_edit .photo {
  max-width: 100%;
  max-height: 70vh;
}

.kassa .kassa_label {
  max-width: 80%;
  height: auto;
  cursor: pointer;
}

.categories img {
  min-width: 200px;
  max-width: 200px;
  min-height: 150px;
  max-height: 150px;
}

.video #like {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.video .no_like {
  fill: white;
}

.video .no_like:hover {
  fill: #d1d1d1;
}

.video .is_like {
  fill: red;
}

.video .is_like:hover {
  fill: #aa0000;
}

.video .views_eye {
  width: 23px;
  height: 23px;
  background: url("/img/svg/eye.svg") no-repeat;
  background-size: 100% 100%;
}

